@import '_functions';

//Váriavel de font-base
$basefontsize: 16 !default;

$color-black: #000;
$color-grey: #d4d4d4;
$color-greyishBrown: #444;
$color-brownishGrey: #666;
$color-white: #fff;
$color-aqua: #19d4ca;
$color-cornFlower: #667df3;
$color-lightRed: #ff4e50;
$color-yellowishOrange: #ffa710;
